@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./root.css);





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none;
    text-decoration: none !important;
    /* outline: 1px solid red !important; */
}

.bg_img {
    background-image: url(../image/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max-w-941 {
    max-width: 941px;
}

.max-w-1071 {
    max-width: 1068px;
}

.pt-239 {
    padding-top: 239px;
}

.max-w-660 {
    max-width: 660px;
}

.max-w-1140 {
    max-width: 1140px;
}

.pt-17 {
    padding-top: 17px;
}

.pt-7 {
    padding-top: 7px;
}

.pt-16 {
    padding-top: 16px;
}

.bg_color_body {
    background: var(--bg-color);
}

.hover_text:hover {
    background: #FF2801;
    background: linear-gradient(to bottom right, #FF2801 7%, #FF6B0A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 400ms linear;

}

.hover_text_2 {
    background: #FF2801;
    background: linear-gradient(to bottom right, #FF2801 7%, #FF6B0A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 400ms linear;
}

.gap-32 {
    gap: 32px;
}

.gap-26 {
    gap: 26px;
}

.btn_get {
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
    max-width: 130px;
    padding: 12px 24px 12px 24px;
    border-radius: 2px;
    border: 0;
    transition: all 400ms linear;
}

.btn_get:hover {
    background: linear-gradient(146.43deg, #FF6B0A 1.77%, #FF2801 62.74%);
    box-shadow: 0px 0px 20px 0px var(--orange);

}

.max-w-850 {
    max-width: 850px;
}

.pt-78 {
    padding-top: 78px;
}

.max-wid {
    max-width: 550px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-28 {
    padding-top: 28px;
}

.hover_media {
    width: 50px;
    height: 217px;
    border-radius: 1.78px;
    padding: 18px 6px 18px 7px !important;
    background: var(--white);
    top: 300px;
    left: -100px;
    transition: all 400ms linear;
}

.transform_scale {
    transition: all 400ms linear;
}

.transform_scale:hover {
    transform: scale(1.1);
}

.media_hover:hover .hover_media {
    left: 0;
}

.pt-8 {
    padding-top: 8px;
}

.mt-11 {
    margin-top: 11px;
}

.pt-10 {
    padding-top: 10.78px;
}

.pt-8-7 {
    padding-top: 8.7px;
}

.pt-10-28 {
    padding-top: 10.28px;
}

.cursor {
    cursor: pointer;
}

.circle_1 {
    position: relative;
    width: 36.38px;

    height: 36.38px;
}

.circle_1::before {
    content: "";

    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 0.79px;
    background: linear-gradient(45deg, #FF2801, #FF6B0A);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.gap-10 {
    gap: 10px;
}

.pb_3 {
    padding-bottom: 3px;
}

.pb_5 {
    padding-bottom: 5px;
}

.pt-35 {
    padding-top: 35px;
}

.btn_2 {
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
    padding: 12px 24px 12px 24px;
    border-radius: 2px;
    max-width: 240px;
    border: 0;
    transition: all 400ms linear;
}

.btn_2:hover {
    background: linear-gradient(146.43deg, #FF6B0A 1.77%, #FF2801 62.74%);
    box-shadow: 0px 0px 20px 0px var(--orange);

}

.max-w-679 {
    max-width: 679px;
}

.max-w-461 {
    max-width: 461px;
}

.pt-149 {
    padding-top: 149px;
}

.pt-7 {
    padding-top: 7px;
}

.mt-50 {
    margin-top: 50px;
}

.card_1 {
    border: 0.75px solid var(--white-3);
    width: 100%;
    min-width: 287px;
    padding: 96.21px 55.49px 21.42px 13.53px;
}

.card_2 {
    top: 0;
    right: 0;
}

.card_3 {
    top: 16px;
    right: 0;

}



.pt-88 {
    padding-top: 88px;
}

.pt-220 {
    padding-top: 220px;
}

.pt-20 {
    padding-top: 20px;
}

.max-w-488 {
    max-width: 488px;
}

.max-w-507 {
    max-width: 507px;
}

.pt-208 {
    padding-top: 208px;
}

.slider_1 {
    max-width: 364px;
    max-height: 389px;
    border: 0.75px solid var(--white-3);
    padding: 16px 4px 29px 11px;
}

.max-w-348 {
    max-width: 348px;
}

.pt_5 {
    padding-top: 5px;
}

.pt_6 {
    padding-top: 6px;
}

.gap-13 {
    gap: 13px;
}

.pr-16 {
    padding-right: 16px;
}

.pt-26 {
    padding-top: 26px;
}

.pt-50 {
    padding-top: 50px;
}

.gap-24 {
    gap: 24px;
}

.slick-slide {
    margin: 0px 8px 0px 8px !important;
}

.max-w-1145 {
    max-width: 1148px;
}

/* .slick-slider */
.prev_btn {
    width: 44px;
    height: 44px;
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
    border-radius: 50px;

}

.prev_position_btn {
    top: 61.5%;
    left: -7%;
}

.next_btn {
    width: 44px;
    height: 44px;
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
    border-radius: 50px;

    transition: all 400ms linear;
}

.next_position_btn {
    top: 61.5%;
    right: -7%;
}

.next_btn_1 {
    width: 44px;
    height: 44px;
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
    border-radius: 50px;
    transition: all 400ms linear;
}

.next_btn_1:hover {
    background: linear-gradient(146.43deg, #FF6B0A 1.77%, #FF2801 62.74%);
}

.prev_btn_1:hover {
    background: linear-gradient(146.43deg, #FF6B0A 1.77%, #FF2801 62.74%);
}

.next_btn:hover {
    background: linear-gradient(146.43deg, #FF6B0A 1.77%, #FF2801 62.74%);
}

.prev_btn:hover {
    background: linear-gradient(146.43deg, #FF6B0A 1.77%, #FF2801 62.74%);
}

.prev_btn_1 {
    width: 44px;
    height: 44px;
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
    border-radius: 50px;
    transition: all 400ms linear;
}

.responsive_1.slick-track {
    display: flex !important;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    margin-right: 10px;
    margin-left: 10px;
}

.slick-slide {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: inherit !important;
}

.slick-slide .div {
    display: flex !important;
}

.border_top {
    border-top: 1px solid var(--footer-border)
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.op-70 {
    opacity: 70%;
}

.max-w-1090 {
    max-width: 1090px;
}

.pt-18 {
    padding-top: 18px;
}

.pt-200 {
    padding-top: 200px;
}

.max-w-386 {
    max-width: 386px;
}

.pt-199 {
    padding-top: 199px;
}

.max-w-474 {
    max-width: 474px;
}


.pt-6 {
    padding-top: 6px;
}


.pt-14 {
    padding-top: 14px;
}

.pt-18 {
    padding-top: 18px;
}

.pb-122 {
    padding-bottom: 122px;
}

.pt-73 {
    padding-top: 73px;
}

/* .under_line */
.under_line::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1.5px;
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);

    transition: all 300ms linear;
}

.under_line:hover::after {
    width: 100%;
    bottom: -4px;
}

.under_line:hover {
    opacity: 1 !important;
}

.under_line {
    position: relative;
    transition: all 300ms linear;
}

.gap-40 {
    gap: 40px;
}

.line_2 {
    background: var(--white);
    opacity: 70%;
    height: 23px;
    width: 1.6px;
}

.vedio_you {
    border-radius: 24px;
    max-width: 996px;
    width: 100%;
    min-height: 476px;
    height: 100%;
    max-height: 476px;
}

/* back to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);
    cursor: pointer;
    padding: 12px;
    border-radius: 50px;
    transition: all 400ms linear;
}


.link:hover {
    text-decoration: none;
    color: #000;
    box-shadow: 0px 0px 20px 0px var(--orange);
}

/*===================*/
/* PULSE GROW
/*===================*/

@-webkit-keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.pulse-grow-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse-grow-on-hover:hover,
.pulse-grow-on-hover:focus,
.pulse-grow-on-hover:active {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* preloaded */



.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

/* HTML: <div class="loader"></div> */
.loader_1 {
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding: 0 5px 8px 0;
    background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%) 200% 100%/200% 3px no-repeat;
    animation: l3 2s steps(6) infinite;
}

.loader_1:before {
    content: "Loading..."
}

@keyframes l3 {
    to {
        background-position: 80% 100%
    }
}

.loader {
    animation: fade-in-down 3s ease infinite;
}

.max-w-1000 {
    max-width: 1000px;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: var(--yellow);
}

#inner3,
#inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    fill: var(--yellow);
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}



@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}

.max-500 {
    max-width: 500px;
}

.mt_5_sm {
    margin-top: 80px !important;
}

.max-width_logo {
    max-width: 200px !important;
}

.cursor {
    cursor: pointer;
}

.aroow_1 {
    top: 24%;
    right: -4%;
}

.arrow_2 {
    top: 88%;
    right: -6%;
    z-index: 0;
}

.arrow_3 {
    top: 12%;
    left: -6%;
    z-index: 0;
}

.arrow_4 {
    top: 77%;
    right: -8%;
    z-index: 0;
}

/* scroll-web */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);

    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(146.43deg,  #FF6B0A 1.77%,#FF2801  62.74%);

  }
  

@media (max-width: 1330px) {

    .arrow_2 {
        top: 88%;
        right: 0%;
    }

    .arrow_3 {
        top: 12%;
        left: 0%;
        z-index: 0;
    }

    .aroow_1 {
        top: 24%;
        right: 0%;
    }

    .arrow_4 {
        top: 77%;
        right: 0%;
        z-index: 0;
    }
}

@media (max-width: 1300px) {
    .next_position_btn {
        top: 62.5%;
        right: -4%;
    }

    .prev_position_btn {
        top: 62.5%;
        left: -4%;
    }
}

@media (min-width: 992px) {

    .max-w-362 {
        max-width: 362px;
    }

    .max-w-494 {
        max-width: 494px;
    }

    .max-w-641 {
        max-width: 641px;
    }

}

@media (max-width: 992px) {
    .overflow_scroll {
        overflow-x: scroll;
    }

    .pt--20 {
        padding-top: 20px;
    }

    .pt---20 {
        padding-top: 20px;
    }

    .pt-220 {
        padding-top: 100px;
    }

    .pt-208 {
        padding-top: 100px;
    }

    .pt-200 {
        padding-top: 100px;
    }

    .pt-199 {
        padding-top: 100px;
    }

    .pb-122 {
        padding-bottom: 60px;
    }

    .pt-239 {
        padding-top: 150px;
    }

    .pt-149 {
        padding-top: 70px;
    }
}








@media (max-width: 767.9px) {
    .mobile_view {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        backdrop-filter: blur(80px);
        z-index: 4;
    }

    .menu {
        z-index: 50;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);

        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);

        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background: linear-gradient(146.43deg, #FF2801 1.77%, #FF6B0A 62.74%);

        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: all 400ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
    }

    .right {
        left: 0;
    }

    .flex-col {
        flex-direction: column;
    }

    .gap-32 {
        gap: 26px;
    }

    .pt-78 {
        padding-top: 60px;
    }

    .hover_media {
        top: 255px;
        left: -100px;
    }

    .pt-149 {
        padding-top: 30px;
    }

    .mt-50 {
        margin-top: 30px;
    }

    .pt-239 {
        padding-top: 30px;
    }

    .pt-88 {
        padding-top: 30px;
    }

    .pt-220 {
        padding-top: 30px;
    }

    .pt-208 {
        padding-top: 30px;
    }

    .pt-50 {
        padding-top: 30px;
    }

    .pt-200 {
        padding-top: 40px;
    }

    .max-w-386 {
        max-width: 300px;
    }

    .pt-199 {
        padding-top: 30px;
    }

    .pt-73 {
        padding-top: 30px;
    }

    .py-40 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@media (max-width: 575px) {
    .hover_media {
        backdrop-filter: blur(90px);
        background: var(--bg-color);
    }

    .max-w-386 {
        max-width: 250px;
    }

    .pt__20 {
        padding-top: 20px;
    }

    .pt-78 {
        padding-top: 30px;
    }

    .pt-20 {
        padding-top: 10px;
    }

    .pb-122 {
        padding-bottom: 30px;
    }
}